<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vuw.project1.riverwatch">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ReportActivity" />
        <activity android:name=".ui.NitrateActivity" />
        <activity android:name=".ui.BluetoothActivity" />
        <activity android:name=".ui.HistoryActivity" />
        <activity android:name=".ui.History_IncidentActivity" />
        <activity android:name=".ui.History_IncidentActivity_Item" />
        <activity android:name=".ui.History_NitrateActivity" />
        <activity android:name=".ui.History_NitrateActivity_Item" />
        <activity android:name=".ui.History_WaterActivity" />
        <activity android:name=".ui.History_WaterActivity_Item" />
        <activity
            android:name=".colour_algorithm.CameraActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Report_functionality.ReportFormActivity"></activity>
        <activity android:name=".colour_algorithm.NitrateResultsActivity"></activity>
    </application>

</manifest>
