<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vuw.project1.riverwatch">
    

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ReportActivity" />
        <activity android:name=".ui.NitrateActivity" />
        <activity android:name=".ui.BluetoothActivity" />
        <activity android:name=".bluetooth.MainBluetoothActivity" />
        <activity android:name=".bluetooth.MainCalibrateActivity" />
        <activity android:name=".ui.HistoryActivity" android:label="History"/>
        <activity android:name=".ui.History_IncidentActivity" android:label="Incident Reports"/>
        <activity android:name=".ui.History_IncidentActivity_Item" />
        <activity android:name=".ui.History_NitrateActivity" android:label="Nitrate Tests" />
        <activity android:name=".ui.History_NitrateActivity_Item" />
        <activity android:name=".ui.History_WaterActivity" android:label="Water Tests"/>
        <activity android:name=".ui.History_WaterActivity_Samples" />
        <activity
            android:name=".colour_algorithm.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Report_functionality.ReportFormActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0aOMrkPdDhp7jGEQK4Ol1g84WKCNsT-E" />

        <activity android:name=".colour_algorithm.NitrateResultsActivity" />
        <activity
            android:name=".colour_algorithm.ResultsTabbedActivity"
            android:label="@string/title_activity_results_tabbed"
            android:parentActivityName=".colour_algorithm.CameraActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vuw.project1.riverwatch.colour_algorithm.CameraActivity" />
        </activity>

        <service
            android:name=".bluetooth.BluetoothLeService"
            android:enabled="true"
            android:label="bluetooth_le_service"></service>

    </application>

</manifest>